hivemind_bus_client>=0.0.4a10
ovos-audio
ovos-dinkum-listener>=0.0.3
ovos-microphone-plugin-alsa
ovos-vad-plugin-silero
ovos-stt-plugin-server
ovos-tts-plugin-server
ovos-ww-plugin-vosk
click
hivemind-ggwave
